doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')

    body
        header
            h1= title
            h2= subtitle
        #map_canvas
        script(src='http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js')
        script(src='https://maps.googleapis.com/maps/api/js?&sensor=false')
        script(src='/javascripts/main.js')
